.nav-logo{
    width: 170px;
    margin-left: 10px;
}
.img-fluid{
    height: 100px;
}
.circuit{
    height: 200px;
}

.card-left-first,.card-left{
    cursor: pointer;
    border-radius: 0.5rem;
}
.card-left{
    margin-top: 1rem;
}
.card-left-first:hover, .card-left:hover {
    transform: scale(1.1);
}

.text-driver{
    font-size: 14px;
    text-align: center;
}